TodoListAPI/TodoListAPI/bin
TodoListAPI/TodoListAPI/obj
TodoListAPI/TodoListAPI/Infrastructure/obj
TodoListAPI/logs
TodoListAPI/Infrastructure/obj
TodoListAPI/Infrastructure/bin
TodoListAPI/Domain/obj
TodoListAPI/Domain/bin
TodoListAPI/Application/obj
TodoListAPI/Application/bin
TodoListAPI/.vs
TodoListApp/.vscode
TodoListAPI/TodoListAPI/sqlite.db-shm
TodoListAPI/TodoListAPI/sqlite.db-wal
