TodoListAPI/TodoListAPI/bin
TodoListAPI/TodoListAPI/obj
TodoListAPI/TodoListAPI/Infrastructure/obj
TodoListAPI/logs
TodoListAPI/Infrastructure/obj
TodoListAPI/Infrastructure/bin
TodoListAPI/Domain/obj
TodoListAPI/Domain/bin
TodoListAPI/Application/obj
TodoListAPI/Application/bin
TodoListAPI/.vs
TodoListApp/.vscode
TodoListAPI/TodoListAPI/sqlite.db-shm
TodoListAPI/TodoListAPI/sqlite.db-wal
TodoListAPI/TodoListAPI/Properties/PublishProfiles/MBTodoListAPI - Zip Deploy.pubxml.user
TodoListAPI/TodoListAPI/Properties/ServiceDependencies/MBTodoListAPI - Zip Deploy/apis1.arm.json
TodoListAPI/TodoListAPI/Properties/serviceDependencies.MBTodoListAPI - Zip Deploy.json.user
TodoListAPI/TodoListAPI/Properties/PublishProfiles/MBTodoListAPI - Zip Deploy.pubxml.user
TodoListAPI/TodoListAPI/Properties/ServiceDependencies/MBTodoListAPI - Zip Deploy/apis1.arm.json
TodoListAPI/TodoListAPI/Properties/serviceDependencies.MBTodoListAPI - Zip Deploy.json.user
TodoListAPI/TodoListAPI/Properties/PublishProfiles/MBTodoListAPI - Zip Deploy1.pubxml.user
TodoListAPI/TodoListAPI/Properties/PublishProfiles/MBTodoListAPI - Zip Deploy1.pubxml
TodoListAPI/TodoListAPI/Properties/ServiceDependencies/MBTodoListAPI - Zip Deploy1/apis1.arm.json
TodoListAPI/TodoListAPI/Properties/ServiceDependencies/MBTodoListAPI - Zip Deploy1/profile.arm.json
TodoListAPI/TodoListAPI/Properties/serviceDependencies.MBTodoListAPI - Zip Deploy1.json
TodoListAPI/TodoListAPI/Properties/serviceDependencies.MBTodoListAPI - Zip Deploy1.json.user
TodoListAPI/TodoListAPI/TodoListAPI.csproj.user
