<h2 class="app-title">TodoList</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Załóż konto</h1>
			<input type="text" placeholder="Imie" />
            <input type="text" placeholder="Nazwisko" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Hasło" />
            <input type="password" placeholder="Hasło" />
			<button>Zarejestruj</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Zaloguj się</h1>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Hasło" />
			<button>Zaloguj</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Cześć</h1>
				<p>Zaloguj się wykorzystując swój adres email</p>
				<button class="ghost" id="signIn">Zaloguj się</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Witaj</h1>
				<p>Załóż konto i zacznij korzystać</p>
				<button class="ghost" id="signUp">Załóż konto</button>
			</div>
		</div>
	</div>
</div>