<h2 class="app-title">TodoList</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Załóż konto</h1>
			<input type="text" placeholder="Imie" [(ngModel)]="registerObj.FirstName" name="firstName" required/>
            <input type="text" placeholder="Nazwisko" [(ngModel)]="registerObj.LastName" name="lastName" required/>
			<input type="email" placeholder="Email" [(ngModel)]="registerObj.Email" name="regEmail" required/>
			<input type="password" placeholder="Hasło" [(ngModel)]="registerObj.Password" name="regPassword" required/>
            <input type="password" placeholder="Powtórz hasło" [(ngModel)]="registerObj.ConfirmPassword" name="regRepPassword" required/>
			<button (click)="Register()">Zarejestruj</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Zaloguj się</h1>
			<input type="email" placeholder="Email" [(ngModel)]="logInObj.Email" name="email" required/>
			<input type="password" placeholder="Hasło" [(ngModel)]="logInObj.Password" name="password" required/>
			<button (click)="LogIn()" type="button" >Zaloguj</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Cześć</h1>
				<p>Zaloguj się wykorzystując swój adres email</p>
				<button class="ghost" id="signIn" (click)="signInChange()">Zaloguj się</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Witaj</h1>
				<p>Załóż konto i zacznij korzystać</p>
				<button class="ghost" id="signUp" (click)="signUpChange()">Załóż konto</button>
			</div>
		</div>
	</div>
</div>