<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/055a6dc6-754c-4125-8d59-36efaad3c42b/resourceGroups/TodoListApp/providers/Microsoft.ApiManagement/service/MatBirApi/apis/TodoListAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/055a6dc6-754c-4125-8d59-36efaad3c42b/resourceGroups/TodoListApp/providers/Microsoft.Web/sites/MBTodoListAPI</ResourceId>
    <ResourceGroup>TodoListApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://mbtodolistapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>89711b47-a9f1-4ec7-9eb6-1671f1dc1395</ProjectGuid>
    <PublishUrl>https://mbtodolistapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MBTodoListAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>