.form-inline {  
    border-radius: 25px;
    margin: 50px auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .form-inline label {
    font-style: bold;
    color: white;
    margin: 5px 10px 5px 0;
  }
  
  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  
  .form-inline button {
    background: -webkit-linear-gradient(to right, #752bff, #d941ff);
	background: linear-gradient(to right, #752bff, #d941ff);
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }

  *{
    width: auto;
    background-color: transparent;
  }